{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Encryption or Decryption{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="translation">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="txt">Text to translate</label>
    <textarea name="txt" id="txt">{{ request.form['txt'] }}</textarea>
    <input type="submit" value="Save">
    <label for="txtkey">key for encryption / decryption</label>
    <input name="txtkey" id="txtkey" value="{{ request.form['txtkey'] }}" required>
  </form>
{% endblock %}
