{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}translate{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="txt">Text to translate</label>
    <textarea name="txt" id="txt">{{ request.form['txt'] }}</textarea>
    <label for="txtkey">key for encryption / decryption</label>
    <input name="txtkey" id="txtkey" value="{{ request.form['txtkey'] }}" required>
    <input type="submit" value="Save">
  </form>

  {% for translation in translations %}
     {% if g.user['id'] == translation['author_id'] %}
        <article class="translation">
            <header>
            <div>
                <div class="about">{{ translation['created'].strftime('%Y-%m-%d') }}</div>
            </div>
            </header>
            <p class="text">{{ translation['txtkey'] }}</p>
            <p class="text">{{ translation['txt'] }}</p>
            <p class="text">{{ translation['translated_txt'] }}</p>
            <form action="{{ url_for('translator.delete', id=translation['id']) }}" method="post">
                <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
        </article>
        {% if not loop.last %}
          <hr>
        {% endif %}
     {% endif %}
  {% endfor %}
{% endblock %}
